<!DOCTYPE html>
{% load static %}
{% load template_addons %}
<html>
<head>
<title> Recipes Home </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
}
</style>
</head>
<body>


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:2px;">
    <a href="../" class="w3-bar-item w3-button">Recipes Home</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="../recipe-finder" class="w3-bar-item w3-button">Recipe Finder</a>
      <a href="" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:1500px">


  <!-- About Brennen Section -->
  <div class="w3-row w3-padding-64">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="{% static 'recipes/brennen.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Brennen posed in a suit" width="400px" align="right">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Brennen Muller</h1><br>
      <h5 class="w3-center">University of Virginia - Computer Science - Class of 2026</h5>
      <p class="w3-large w3-text-grey w3-hide-medium" style="text-align:center">Contact: mullerbrennen@gmail.com</p>
      <p class="w3-large" style="margin:30px">
        Hello! My name is Brennen Muller. I'm a computer science major at the University of Virginia, and this is my first
      hackathon project!
      </p>
    </div>
  </div>

  <!-- About Tiara Section -->
  <div class="w3-row w3-padding-64">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="{% static 'recipes/tiara.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Alt Text Here" width="400px" align="right">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Tiara Allard</h1><br>
      <h5 class="w3-center">University of Virginia - Computer Science - Class of 2024</h5>
      <p class="w3-large w3-text-grey w3-hide-medium" style="text-align:center">Contact: allard.ti@gmail.com</p>
      <p class="w3-large" style="margin:30px">
        Hi, I'm Tiara Allard! I am a computer science major/data science minor at the University of Virginia. 
      </p>
    </div>
  </div>


<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
